h1, h2, h3, h4, h5, h6, p {
    color: black;
}

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    background-image: url(../img/pic\ 1.webp);
    box-shadow: 0px 60px 100px -40px black inset;
}

.hero .hero-text {
    padding-top: 3rem;
}
.hero .hero-text h1 { 
    font-weight: 300;
    letter-spacing: 0px;
    color: white;
}
.hero .hero-text h1 strong{
    font-weight: 700;
    color: black;
}
.hero .hero-text p {
    font-weight: 400;
    font-size: 23px;
    color: black;
    margin-right: 20px;
}

.hero .hero-btn .btn {
    color: white;
    background: #000;
    border-radius: 50px;
    box-shadow: inset 0 0 0 50px black;
}
.hero .hero-btn .btn:hover {
    background: #ecd9c9;
    color: black;
    box-shadow: inset 0 0 0 50px #ecd9c9;
}
.hero .checkIcon img {
    width: 20px;
    margin: .3rem;
}
.hero .checkIcon p {
    margin: 0;
    font-size: smaller;
}

@media (max-width: 960px) {
    .hero {
        padding-bottom: 80px;
    }    
}
@media (max-width: 768px) {
    .hero {
        padding-top: 30%;
        padding-bottom: 40%;
    }  
    .hero img {
        display: none;
    }
    .hero .hero-text p {
        margin-right: 0;
        text-align: left;
    }
    .hero .hero-text h1 {
        text-align: left;
    }
    .hero .checkIcon img {
        display: inline-block;
    }
}


/*******************************/
/********** icon_area CSS ***********/
/*******************************/
.icon_area {
    text-align: center;
}
.icon_area h1 {
    font-weight: bold;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.icon_area p {
    font-weight: 500;
    text-align: center;
}
.icon_area img {
    width: 50px;
}

@media (max-width: 768px) {
    .icon_area p {
        margin-bottom: 50px;
    }  
    .icon_area h1 {
        margin-top: 30px;
    }
}


/*******************************/
/********** personal positioning CSS ***********/
/*******************************/
.personal_positioning {
    background-image: url(../img/pic\ 4\ \(1\).jpg);
    text-align: right;
    margin-top: 7rem;
    height: 90vh;
}
.personal_positioning h3 {
    margin-top: 10rem;
}
.personal_positioning p {
    font-weight: 500;
    background-color: white;
    padding: 1rem;
}
.p_btn {
    margin-top: 5rem;
}



/*******************************/
/********** call_action CSS ***********/
/*******************************/
.call_action {
    background: #4e677d;
    text-align: center;
    height: 60vh;
}
.call_action h1 {
    margin-top: 10rem;
    color: white;
}
.call_action p {
    font-weight: 500;
    margin-bottom: 3rem;
    color: white;
}


/*******************************/
/********** call_action CSS ***********/
/*******************************/
.why_chose {
    text-align: center;
    margin-top: 10rem;
}
.why_chose p {
    font-weight: 500;
}
.why_chose .checkIcon img {
    width: 30px;
    margin: .5rem;
}
.why_chose .checkIcon h5 {
    margin: 0;
}

/*******************************/
/********** carousel_roll CSS ***********/
/*******************************/
.carousel_roll {
    margin-left: 30vh;
    margin-right: 30vh;
}
.carousel_roll h3{
    background-color: white;
    color: black;
    padding: 1rem;
}
@media (max-width: 1100px) {
    .carousel_roll {
        margin-left: 10vh;
        margin-right: 10vh;
    }
    .carousel_roll h3 {
        font-size: 25px;
    }
}
@media (max-width: 768px) {
    .carousel_roll {
        margin-left: 0;
        margin-right: 0;
    }
    .carousel_roll h3 {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .carousel_roll h3 {
        font-size: 14px;
        padding: .5rem;
    }
}

/*******************************/
/********** recent_projects CSS ***********/
/*******************************/
.recent_projects {
    text-align: center;
}
.recent_projects h3 {
    margin-top: 10rem;
}
.recent_projects h1 {
    margin-bottom: 3rem;
}
.recent_projects img {
    width: 100%;
}
.recent_projects p {
    font-weight: 500;
    text-align: left;
    margin-bottom: 2rem;
}
.recent_projects .hero-btn {
    margin-top: 5rem;
}
.recent_projects .hero-btn .btn:hover {
    background: #000000;
    color: black;
    box-shadow: inset 0 0 0 50px #ffffff;
    border-color:#ffffff;
    border: 2px solid transparent;
}


/*******************************/
/********** cellphone CSS ***********/
/*******************************/
.cellphone {
    margin-top: 10rem;
}
.cellphone p {
    font-weight: 500;
}
.cellphone img {
    width: 100%;
}


/*******************************/
/********** call_action_2 CSS ***********/
/*******************************/
.call_action_2 {
    background-image: url(../img/pic\ 4\ \(2\).jpg);
    text-align: center;
    height: 60vh;
}
.call_action_2 h3 {
    margin-top: 10rem;
    color: white;
}
.call_action_2 p {
    font-weight: 500;
    margin-bottom: 3rem;
    color: white;
}



/*******************************/
/********** footer_content CSS ***********/
/*******************************/
.footer_content {
    background: #4e677d;
    text-align: center;
    padding-bottom: 10rem;
}
.footer_content h1 {
    margin-top: 10rem;
    font-size: 60px;
    color: white;
}
.footer_content p {
    font-weight: 500;
    margin-bottom: 3rem;
    margin-bottom: 5rem;
    color: white;
}




/*******************************/
/********** palmbeach profile CSS ***********/
/*******************************/
@media (max-width: 768px) {
    .palmbeach_profile p {
        margin-bottom: 50px;
    }  
    .palmbeach_profile h1 {
        margin-top: 30px;
    }
}



/*******************************/
/********** High Lights CSS ***********/
/*******************************/
.high_lights {
    padding: 80px;
    background: #ecd9c9;
}
.high_lights h1 {   
    margin-bottom: 20px;
}
.high_lights p {
    text-align: left;
    margin-top: 50px;
}

/* slide show */
#slideShow h5{
    color: white;
    text-shadow: 0px 0px 5px black, 0px 0px 15px black, 0px 0px 30px black;
}
#slideShow p{
    color: white;
    text-shadow: 0px 0px 5px black, 0px 0px 15px black, 0px 0px 20px black;
}
#slideShow img{
    border-radius: 50px;
}


@media (max-width: 960px) {
    .high_lights {
        padding: 80px 40px 80px 40px;
    }
}
@media (max-width: 768px) {
    .high_lights {
        padding: 60px 20px 60px 20px;
    }
    #slideShow img {
        width: 150% !important;
    }
}
@media (max-width: 576px) {
    .high_lights {
        padding: 60px 10px 60px 10px;
    }
    #slideShow img {
        width: 250% !important;
    }
}

/*******************************/
/********** Video CSS ***********/
/*******************************/
.video {
    padding: 80px
}
.video h1 {
    margin-bottom: 20px;
}

.video .hero-btn .btn {
    border-radius: 50px;
    color: black;
    box-shadow: inset 0 0 0 50px #ecd9c9;
    background: #ecd9c9;
}
.video .hero-btn .btn:hover {
    color: white;
    box-shadow: inset 0 0 0 50px black;
    background: black;
}

.video .iframe_section {
    display: block;
    position: absolute;
    top: 6%;
    width: 99.5%;
}
.video .iframe_section iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 69%  ;
    height: 19rlh;
    border: 0;
}

@media (max-width: 1300px) {
    .video .iframe_section {
        top: 5%;
    }
    .video .iframe_section iframe {
        width: 68%;
        height: 16rlh;
    }
}
@media (max-width: 1200px) {
    .video .iframe_section {
        top: 3%;
    }
}
@media (max-width: 1170px) {
    .video .iframe_section {
        top: 2%;
    }
}
@media (max-width: 1160px) {
    .video .iframe_section iframe {
        height: 15rlh;
    }
}
@media (max-width: 1100px) {
    .video .iframe_section iframe {
        height: 14rlh;
    }
}
@media (max-width: 1040px) {
    .video .iframe_section iframe {
        height: 13rlh;
    }
}
@media (max-width: 992px) {
    .video .iframe_section {
        top: 6%;
    }
    .video .iframe_section iframe {
        height: 20rlh;
    }
    .video p {
        margin-top: 50px;
    }
    .video {
        padding: 10px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (max-width: 905px) {
    .video .iframe_section iframe {
        height: 18rlh;
    }
}
@media (max-width: 850px) {
    .video .iframe_section iframe {
        height: 17rlh;
    }
}
@media (max-width: 760px) {
    .video .iframe_section iframe {
        height: 16rlh;
    }
}
@media (max-width: 725px) {
    .video .iframe_section iframe {
        height: 14rlh;
    }
}
@media (max-width: 650px) {
    .video .iframe_section {
        top: 2%;
    }
    .video .iframe_section iframe {
        height: 14rlh;
    }
}
@media (max-width: 610px) {
    .video .iframe_section iframe {
        height: 13rlh;
    }
}
@media (max-width: 576px) {
    .video {
        padding: 0;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .video .iframe_section {
        top: 5%;
    }
    .video .iframe_section iframe {
        height: 18rlh;
        width: 95%;
    }
}
@media (max-width: 530px) {
    .video .iframe_section iframe {
        height: 16rlh;
    }
}
@media (max-width: 480px) {
    .video .iframe_section iframe {
        height: 14rlh;
    }
}
@media (max-width: 430px) {
    .video .iframe_section iframe {
        height: 13rlh;
    }
}
@media (max-width: 400px) {
    .video .iframe_section iframe {
        height: 12rlh;
    }
}
@media (max-width: 370px) {
    .video .iframe_section iframe {
        height: 11rlh;
    }
}

/*******************************/
/********** testimonial palm beach CSS ***********/
/*******************************/

.testimonial_palm_beach {
    padding: 80px;
}
.testimonial_palm_beach .testimonial_box {
    background: #ecd9c9;
    border-radius: 200px;
    padding: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 10%;
    margin-right: 10%;
}
.testimonial_palm_beach .testimonial_box h1 {
    font-size: 30px;
    font-weight: 700;
}

@media (max-width: 1150px) {
    .testimonial_palm_beach {
        padding: 20px;
    }
}
@media (max-width: 992px) {
    .testimonial_palm_beach {
        padding: 10px;
    }
}
@media (max-width: 768px) {
    .testimonial_palm_beach {
        padding: 0px;
    }
    .testimonial_palm_beach .testimonial_box {
        margin-left: 0;
        margin-right: 0;
    }
}


/*******************************/
/********** QRcode CSS ***********/
/*******************************/

.qr_code {
    padding-top: 100px;
}
.qr_code .hero-btn .btn {
    border-radius: 50px;
    margin-left: 150px;
    color: black;
    box-shadow: inset 0 0 0 50px #ecd9c9;
    background: #ecd9c9;
}
.qr_code .hero-btn .btn:hover {
    color: white;
    box-shadow: inset 0 0 0 50px black;
    background: black;
}

@media (max-width: 992px) {
    .qr_code .hero-btn .btn {
        margin-left: 50px;
    }
}
@media (max-width: 820px) {
    .qr_code .hero-btn .btn {
        margin-left: 0px;
    }
}
@media (max-width: 768px) {
    .qr_code .hero-btn .btn {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 50px;
        margin-bottom: 150px;
    }
}
@media (max-width: 576px) {
    .qr_code .hero-btn .btn {
        margin-left: 10%;
        margin-right: 10%;
    }
}